fastapi==0.115.6
uvicorn[standard]==0.34.0
streamlit==1.42.0
requests==2.32.3
python-multipart==0.0.20
pymupdf==1.26.0
langchain-text-splitters==0.3.7
faiss-cpu==1.9.0.post1
scikit-learn==1.6.1
numpy==2.2.2
pandas==2.2.3
python-dotenv==1.0.0
pymupdf4llm
google-genai
ragas
datasets
langchain-google-genai
google-generativeai